---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

$base-font-family: 'Roboto', sans-serif;

$body-font-family: Georgia, serif;

$brand-color: black;

$container-width: 1100px;

$header-thickness: 56px;

// Importing Sass/SCSS partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
