.footer {
  min-height: 100px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
}

@media (max-width: $container-width) {
  .footer {
    min-height: 86px;
    width: 95vw;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 6px -6px #bbb;
  }
}
.footer a {
 text-decoration: none;
 color: blue;
}

.footer a:hover {
  color: green;
}
