.featured-posts {
  height: 300px;
  padding: 20px;
  margin: 0 0 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-posts h5 h6 {
  padding: 0;
  margin: 0;
  line-height: 0px;
}
.post-description-container {
  display: inline-block;
  padding: 0px;
  margin-top: 120px;
}
.post-title {
  font: $base-font-family;
  color: white;
  font-size: 3em;
  font-weight: 400;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}
.post-cat {
  font: $base-font-family;
  color: white;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  background: #083e9a; /* fallback color */
  background: rgba(38, 69, 95, 0.7);
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}
.featured-posts span a {
  color: white;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: none;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
