.featured-posts {
  height: 300px;
  padding: 20px;
  margin: 0 0 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-posts h5 h6 h3 {
  padding: 0;
  margin: 0;
  line-height: 0px;
}
.post-description-container {
  float:right;
  display: inline-block;
  width: 30%;
  height: 45%;
  padding: 20px;
  margin-top: 120px;
  background: white;
  vertical-align: baseline;
}
.post-cat {
  font: $base-font-family;
  color: #ff5062;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  //background: #083e9a; /* fallback color */
  //background: rgba(38, 69, 95, 0.7);
  padding: 0px;
  margin: 0px;
  line-height:0;
}
.post-title {
  //font: $base-font-family;
  //font-color: white;
  font-size: 20px;
  font-weight: 400;
  //background: rgb(0, 0, 0); /* fallback color */
  //background: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin: 0px;
  line-height: 20px;
}
.post-description {
  //font: $body-font-family;
  //color: black;
  font-size: 10px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  //background: rgb(0, 0, 0); /* fallback color */
  //background: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin: 0px;
  line-height: 10px;
}
.featured-posts:hover {
  //filter: grayscale(100%);
  //transform: scale(1.5);
  //box-shadow: 3px 3px 3px 3px #6b1423;
  outline: black solid 1px;
  border-left: 2px solid black;
  border-bottom: 3px solid black;
}
.featured-posts:hover div {
  background: black;
  color: white;
}
.featured-posts:hover h5 {
  text-decoration: underline;
  text-decoration-color: white;
  //color: blue;
}
/*
.featured-posts:hover h3 {
  //background-color: #003399;
}
*/


/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: none;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
