   <!-- Clock : countdown to event date
 -->  
 <div class="countdown-container">
    <div class="countdown-info">
        <p class="date">September 22, 2023</p>
        <p class="location">Milan Cathedral, Italy</p>
    </div>
     <div class="countdown">
    <div class="circle days">
        <div class="value">00</div>
        <div class="label">Days</div>
    </div>
    <div class="circle hours">
        <div class="value">00</div>
        <div class="label">Hours</div>
    </div>
    <div class="circle minutes">
        <div class="value">00</div>
        <div class="label">Minutes</div>
    </div>
    <div class="circle seconds">
        <div class="value">00</div>
        <div class="label">Seconds</div>
    </div>
    </div>
</div>
<script src="./countdown.js" defer></script>
