<header class="site-header">
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>

  <div class="menu-list">
    <a href="{{ site.github.url }}/pages/facts.html" class="menu-link">Interesting Facts</a>
    <a href="{{ site.github.url }}/pages/resources.html" class="menu-link">Learning Resources</a>
    <a href="{{ site.github.url }}/pages/sample-posts.html" class="menu-link">Sample Posts</a>
    <a href="{{ site.github.url }}/pages/documentation.html" class="menu-link">Documentation</a>
    <a href="{{ site.github.url }}/pages/about.html" class="menu-link">About</a>
    <a href="{{ site.github.url }}/pages/contact.html" class="menu-link">Contact</a>
    <a href="https://twitter.com/{{ site.author.twitter }}" class="menu-link"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.facebook.com/{{ site.author.facebook }}" class="menu-link"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    <a href="https://instagram.com/{{ site.author.instagram }}" class="menu-link"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="menu-link"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
    <a href="mailto:{{ site.author.email }}" class="menu-link"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  </div>

  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      <a href="{{ site.github.url }}/pages/facts.html" class="menu-link">Interesting Facts</a>
      <a href="{{ site.github.url }}/pages/resources.html" class="menu-link">Learning Resources</a>
      <a href="{{ site.github.url }}/pages/sample-posts.html" class="menu-link">Sample Posts</a>
      <a href="{{ site.github.url }}/pages/documentation.html" class="menu-link">Documentation</a>
      <a href="{{ site.github.url }}/pages/about.html" class="menu-link">About</a>
      <a href="{{ site.github.url }}/pages/contact.html" class="menu-link">Contact</a>
      <a href="https://twitter.com/{{ site.author.twitter }}" class="menu-link"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
      <a href="https://www.facebook.com/{{ site.author.facebook }}" class="menu-link"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
      <a href="https://instagram.com/{{ site.author.instagram }}" class="menu-link"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="menu-link"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
      <a href="mailto:{{ site.author.email }}" class="menu-link"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
    </div>
  </div>

</header>
