<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ site.github.url }}/css/syntax.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Source+Sans+Pro|Source+Code+Pro|Ubuntu|Lato|Roboto">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
