<div class="posts-wrapper">
  <h1>Featured</h1>

  <div class="featured-posts"><img src="/images/tools.jpg"><p>This is the first post</p></div>
  <div class="featured-posts"><img src="/images/room.jpg"><p>This is the second post</p></div>
  <div class="featured-posts"><img src="/images/spools.jpg"><p>This is the third post</p></div>

  <h1>Latest</h1>

  <div class="featured-posts"><img src="/images/tools.jpg"><p>This is the first post</p></div>
  <div class="featured-posts"><img src="/images/room.jpg"><p>This is the second post</p></div>
  <div class="featured-posts"><img src="/images/spools.jpg"><p>This is the third post</p></div>

</div>
