<div class="post-share">
  <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="//twitter.com/intent/tweet?text={{ page.title }}&amp;url=//joybirdstudios.com{{ page.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="//www.facebook.com/sharer/sharer.php?u=//joybirdstudios.com{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</div>
