/*
  Reset some basic elements
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*
  Basic styling
*/

body {
  font-family: $base-font-family;
}

/*
  Links
*/

a {
  color: $brand-color;
  text-decoration: none;
}
