/*
  Reset some basic elements
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*
  Basic styling
*/

body {
  font-family: $base-font-family;
}

/*
  Links
*/

a {
  color: $brand-color;
  text-decoration: none;
}

/*
  Site container
*/

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

/*
  Custom grid
*/

.row {
  margin: 0px;
  padding: 0px;
}

.col-1 {
  width: 100%;
  float: left;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-23 {
  width: 66.666%;
  float: left;
}

.col-3 {
  width: 33.333%;
  float: left;
}
