/*
  Temporary
*/

$pastel-red: #FF333E;
$pastel-yellow: #FDFD96;
$pastel-blue: #779ECB;
$pastel-pink: #FFD1DC;
$pastel-purple: #CB99C9;
$pastel-magenta: #F49AC2;
$pastel-green: #77DD77;
$light-black: #333;

@mixin background($color){
  height: 400px;
  background-color: $color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.section-one {
  @include background($pastel-green);
}

.section-two {
  @include background($pastel-pink);
}

.section-three {
@include background($pastel-blue);
}

.section-four {
@include background($pastel-magenta);
}

.section-five {
@include background($pastel-yellow);
}

.section-six {
@include background($pastel-purple);
}


/*
  End temporary
*/

/*
  Site container
*/

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

/*
  Custom grid
*/

.row {
  margin: 0px;
  padding: 0px;
}

.col-1 {
  width: 100%;
  float: left;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-23 {
  width: 66.666%;
  float: left;
}

.col-3 {
  width: 33.333%;
  float: left;
}

/*
  Site header
*/

.site-header {
  min-height: 56px;
  min-width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  padding-left: 10px;
  float: left;
}

.menu-list {
  line-height: $header-thickness;
  float: right;
}

.menu-link {
  padding: 5px 10px;
}

/*
  Splash page
*/

.featured-image img {
  align: middle;
  margin: 5px auto auto auto;
  display: block;
  //max-width: $container-width - 40px;
  max-width: 600px;
}

h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px; //Keep this?
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin-top: 320px;
}

span a {
  color: white;
}

/*
  Home posts
*/

.posts-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  max-width: $container-width - 20px;
}

.posts-wrapper h1 {
  margin: 20px 0px 5px;
}

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-posts img {
  max-width: 600px;
  margin: 10px;
}

.featured-posts h1 {
  margin: 10px;
}

.page-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.related {
  padding-bottom: 1rem;
}

.related img {
  width: 600px;
}

.related-posts {
  padding: 10px 0px 10px;
  list-style: none;
}

/*
  Footer
*/

.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px; //Still need to work on the styling of the footer, not sure exactly what min-height and line-height do here
  line-height: 45px;
  min-width: $container-width;
}

.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}
