/*
  Site header
*/

.site-header {
  min-height: 56px;
  min-width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
}

.site-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 0;
  padding-left: 10px;
  float: left;
}

.menu-list {
  line-height: 56px;
  float: right;
}

.menu-link {
  padding: 5px 10px;
}

/*
  Splash page
*/

.featured-image {
  margin-top: 56px;
  max-width: $container-width;
}

/*
  Home posts
*/

.posts-wrapper {
  padding: 10px;
  margin: auto;
}

.featured-posts {

}

.featured-posts img {
  max-width: 200px;
  margin: 30px;
}

/*
  Footer
*/

.footer {
  text-align: center;
  min-height: 56px;
  line-height: 56px;
}
