/*
  Responsiveness
*/

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}

@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }

  /* Dropdown Button */
  .dropbtn {
      background-color: white;
      color: black;
      padding: 16px;
      margin-top: 4px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #f1f1f1;
  }
}

/*
  Temporary
*/

$pastel-red: #FF333E;
$pastel-yellow: #FDFD96;
$pastel-blue: #779ECB;
$pastel-pink: #FFD1DC;
$pastel-purple: #CB99C9;
$pastel-magenta: #F49AC2;
$pastel-green: #77DD77;
$light-black: #333;

@mixin background($color){
  height: 400px;
  background-color: $color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.section-one {
  @include background($pastel-green);
}

.section-two {
  @include background($pastel-pink);
}

.section-three {
@include background($pastel-blue);
}

.section-four {
@include background($pastel-magenta);
}

.section-five {
@include background($pastel-yellow);
}

.section-six {
@include background($pastel-purple);
}

/*
  End temporary
*/

/*
  Site container
*/

.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  text-decoration: underline;
}

/*
  Custom grid
*/

.row {
  margin: 0px;
  padding: 0px;
}

.col-1 {
  width: 100%;
  float: left;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-23 {
  width: 66.666%;
  float: left;
}

.col-3 {
  width: 33.333%;
  float: left;
}

/*
  Site header
*/

.site-header {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
}

.site-header a {
  text-decoration: none;
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  padding-left: 10px;
  float: left;
}

.menu-list {
  line-height: $header-thickness;
  float: right;
}

.menu-link {
  padding: 5px 10px;
}

/*
  Splash page
*/

.featured-image img {
  align: middle;
  margin: 5px auto auto auto;
  display: block;
  //max-width: $container-width - 40px;
  max-width: 600px;
}

h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px; //Keep this?
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin-top: 320px;
}

span a {
  color: white;
}

/*
  Home posts
*/

.posts-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}

.posts-wrapper h1 {
  margin: 20px 0px 5px;
}

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-posts img {
  max-width: 600px;
  margin: 10px;
}

.featured-posts h1 {
  margin: 10px;
}

.page-content {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-title {
  padding: 0px 10px 10px;
}

.post-share {
  padding-bottom: 1rem;
}

.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.related {
  padding-bottom: 1rem;
}

.related img {
  width: 600px;
  padding-bottom: 1rem;
}

.related-posts {
  padding: 10px 0px 10px;
  list-style: none;
  display: inline-block;
}

.related-thumbnail {
  background-size: cover;
	background-repeat: no-repeat;
  float: left;
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.related-title {
  float: right;
  padding-bottom: .5rem;
}

/*
  Footer
*/

.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px; //Still need to work on the styling of the footer, not sure exactly what min-height and line-height do here
  line-height: 45px;
  width: $container-width;
}

.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Blockquote
*/

/*blockquote {
  padding: 0rem 1rem;
  margin: .8rem 0;
  color: #999;
  border-left: 0.25rem solid #ccc;
}

blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}*/

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Source Code Pro";
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}
