---
---

$base-font-family: 'Kanit', sans-serif;
$body-font-family: 'kanit', thin;
$code-font-family: "Source Code Pro", monospace;

$brand-color: #000000;

$container-width: 99vw;
$tablet-width: 1000px;
$phone-width: 480px;
$video-width: 99vw;
$header-thickness: 70px;
$icon-transition-time: 1.0s;
$text-color: #FF914D;
$background-color: rgb(0, 0, 0); /*#001f3dff*/
$button-color: #c06804;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #222223;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;
$text-color:white;

@import "-sections-dir";
