---
layout: page
title: Game Jams
---
{% for post in site.categories.gamejams %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}

<h3>2007</h3>

<table class="tg">
<thead>
  <tr>
	<th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/PSP-Hacks_Homebrew_Competition_2007.webp" width="240" height="136"><br>PSP-Hacks 2007<br>    </a></th>
    <th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/PSPSource_Summer_Coding_Competition_2007.webp" width="240" height="136"><br>PSPSource 2007<br>    </a></th>
	<th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/NEO_Spring_Compo_2007_for_PSP_division.webp" width="240" height="136"><br>NEO Spring 2007<br>    </a></th>
  </tr>
  <tr>
    <th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/NEO_Summer_Compo_2007_for_PSP_division.webp" width="240" height="136"><br>NEO Summer 2007<br>    </a></th>
	<th class="compo"><a href="https://psp-archive.github.io/gamejams/D%C3%A9fi_devSgen_(2007).html"><br>    <img border="0" alt="Compo" src="/assets/img/splash/Defi_devSgen_2007.webp" width="240" height="136"><br>Défi devSgen<br>    </a></th>
    <th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/PxP_Homebrew_Competition_2007.webp" width="240" height="136"><br>PxP Competition<br>    </a></th>
  </tr>
  <tr>
	<th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/GBAX_2007_Coding_Competition.webp" width="240" height="136"><br>GBAX 2007<br>    </a></th>
	<th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/Gx-mod_XtreamLua_2007_contest.webp" width="240" height="136"><br>Gx-mod/XtreamLua 2007<br>    </a></th>
  </tr>
</thead>
</table>

<h3>2006</h3>

<table class="tg">
<thead>
  <tr>
    <th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/2021-05-01-Celeste-by-aggressivepixels.webp" width="240" height="136"><br>PSP 30 Day Coding Competition #2<br>    </a></th>
    <th class="compo"><a href="https://psp-archive.github.io/gamejams/PS2DEV_The_Fourth_Creation_2006.html"><br>    <img border="0" alt="Compo" src="/assets/img/splash/PS2DEV_The_Fourth_Creation_2006.webp" width="240" height="136"><br>PS2DEV The Fourth Creation<br>    </a></th>
    <th class="compo"><a href=""><br>    <img border="0" alt="Compo" src="/assets/img/splash/2021-05-01-Celeste-by-aggressivepixels.webp" width="240" height="136"><br>NEO Spring Coding Contest<br>    </a></th>
  </tr>
</thead>
</table>

<h3>2005</h3>

<table class="tg">
<thead>
  <tr>
    <th class="compo"><a href="https://psp-archive.github.io/gamejams/GBAX2005.html"><br>    <img border="0" alt="Compo" src="/assets/img/splash/GBAX2005.webp" width="240" height="136"><br>GBAX 2005<br>    </a></th>
	<th class="compo"><a href="https://psp-archive.github.io/gamejams/PSPUpdates_Homebrew_Contest_(2005).html"><br>    <img border="0" alt="Compo" src="/assets/img/splash/PSPUpdates_Homebrew_Contest_2005.webp" width="240" height="136"><br>PSPUpdates Homebrew Contest<br>    </a></th>
    <th class="compo"><a href="https://psp-archive.github.io/gamejams/PSP_NEWS_&_Lik_Sang_30_Day_Coding_Comp_2005.html"><br>    <img border="0" alt="Compo" src="/assets/img/splash/PSP_NEWS_&_Lik_Sang_30_Day_Coding_Comp_2005.webp" width="240" height="136"><br>PSP NEWS & Lik Sang #1<br>    </a></th>
  </tr>
</thead>
</table>
