---
layout: default
---
<div class="page-content">
<h1>About {{page.title}}</h1>
<img src="/assets/img/{{ page.image }}" class="author-img" width="250" height="250" align="right">


{{ page.content | markdownify }}


<h2>Articles by {{ page.name }}</h2>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
  <article>
    <a href="{{ site.github.url }}{{ post.url }}">
        <h3>{{ post.title }}</h3>
    </a>
  </article>

  {% endfor %}
</div>