---
layout: default
---
<h1>About {{page.title}}</h1>
<img src="/assets/img/{{ page.image }}" class="author-img" width="250" height="250" align="right">


{{ page.content | markdownify }}


<h2>Articles by {{ page.name }}</h2>

  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
  <article>
    <a href="{{ site.github.url }}{{ post.url }}">
      <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
        <h2><span>{{ post.title }}</span></h2>
      </div>
    </a>
  </article>
  {% endfor %}
