---
layout: default
---

<!--<img src="{{ site.github.url }}/images/fire.jpg" class="featured-image">-->

<div class="posts-wrapper">

  <div class="row">
    <div class="section-one">
      <h1>Featured Article</h1>
      <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
    </div>
  </div>

  <div class="row">
    <div class="section-two col-2">
      <h1>Recent Articles</h1>
      <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
    </div>
    <div class="section-three col-2">
      <h1>Recent Articles</h1>
    </div>
  </div>

  <div class="row">
    <div class="section-four col-3">
      <h1>Recent Articles</h1>
    </div>
    <div class="section-five col-3">
      <h1>Recent Articles</h1>
    </div>
    <div class="section-six col-3">
      <h1>Recent Articles</h1>
    </div>
  </div>

  <div class="row">
    <div class="section-six col-23">
      <h1>Recent Articles</h1>
    </div>
    <div class="section-five col-3">
      <h1>Recent Articles</h1>
    </div>
  </div>

</div>
