---
layout: default
---

<ul>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Mountains and volcanos</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Adventure getaways</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Forest escapes</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Hiking trails</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Street scenes</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
				<img src=''>
				<figcaption>Trending</figcaption>
			</figure>
		</a>
	</li>
</ul>
