---
layout: page
title: Subscribe
image: Title_image_2.png
---

<div class="page-content">
    {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}
    <article>

    {{ content }}
    <!--
    <form id="subscriptionForm">
        <label for="captainName">Captain Name</label>
        <input type="text" id="captainName" name="captainName" required>

        <label for="teamName">Team Name</label>
        <input type="text" id="teamName" name="teamName" required>

        <label for="driver">Driver</label>
        <input type="text" id="driver" name="driver" required>

        <label for="athlete2">Athlete 2</label>
        <input type="text" id="athlete2" name="athlete2" required>

        <label for="athlete3">Athlete 3</label>
        <input type="text" id="athlete3" name="athlete3" required>

        <label for="athlete4">Athlete 4</label>
        <input type="text" id="athlete4" name="athlete4" required>

        <label for="athlete5">Athlete 5</label>
        <input type="text" id="athlete5" name="athlete5" required>

        <label for="athlete6">Athlete 6</label>
        <input type="text" id="athlete6" name="athlete6" required>

        <label for="contact e-mail">Contact Email</label>
        <input type="text" id="contact-email" name="contact-email" required>

        <label for="additionalText">Additional Text</label>
        <textarea id="additionalText" name="additionalText" rows="4"></textarea>

        <button type="submit">Subscribe</button>
    </form>
    -->
</article>
</div>

